body { 
  background-image: url(napa_vineyard.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  border-radius: 10px;
  background-color: #19A3A3;
  font-size: 120%;
  font-family: 'Montserrat', sans-serif;
  color: black;
  border-radius: 15px;
  margin-top: 2%;
  margin-left: 2%;*/
}

