h1 {
  text-align: center;
}

.information {
  margin-left: auto;
  margin-right: auto;
}

form {
  text-align: center;
}

.itinerary {
  background-color: #D8A47F;
  width: 300px;
  height: 200px;
  text-align: center;
  padding-top: 5px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto; 
  text-align: center;
}

.itineraries {
}