  
<div class="container">
<a href="/"><button id="sign_out" type="button">Sign Out</button></a>
  <h1>Invite</h1>

  <form action='/invite' method="POST">
    <input type="text" name="invite[status]" placeholder="Will you be attending?">
    <br>
    <input type="text" name="invite[admin]" placeholder="admin" >
    <input type="submit" value="Submit">
  </form>
</div>


<!-- Invite(id: integer, user_id: integer, itinerary_id: integer, status: string, admin: boolean, created_at: datetime, updated_at: datetime) -->