<head>
  <link rel="stylesheet" href="/css/itinerary.css">
</head>

<div class="container">
  <h1>Itinerary</h1>

  <% if @error %>
    <p><%= @error %></p>
  <% end %>

  <form action='/itineraries' method="POST">
    <div class="information">
      <input type="text" name="itinerary[name]" placeholder="name">
      <input type="text" name="itinerary[description]" placeholder="description">
      <input type="date" name="itinerary[start_date" placeholder="start_date">
      <br>
      <input type="date" name="itinerary[end_date]" placeholder="end_date" >
    </div>

    <div class="friend_email">
      <input type="text" name="email[]" placeholder="friend #1 email">
      <input type="text" name="email[]" placeholder="friend #2 email">
      <input type="text" name="email[]" placeholder="friend #3 email">
      <input type="text" name="email[]" placeholder="friend #4 email">
    </div>

    <input type="submit" value="Submit">
  </form>
</div>
